:root {
    --primary: hsl(180, 29%, 50%);
    --cyan-bg: hsl(180, 52%, 96%);
    --cyan-filter-tab: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 26vh;
    background-color: var(--primary);
    background-image: url('../images/bg-header-mobile.svg');
    margin-bottom: 3.6rem;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 0;
}
.attribution {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    padding: 1rem;
    color: hsl(0, 0%, 90%);
    background-color: var(--very-dark-grayish-cyan);
}
.attribution a {
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--primary);
}